$primary-color: #d43f52;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* start all heading */
h1, h2, h3, h4, h5 {
  color: #f2efea;
  font-weight: bold;
}

h2::after {
  content: '';
  height: 120px;
  width: 7px;
  transform: skew(-18deg) translateX(-50%) translateY(-10%) rotate(90deg);
  left: 50%;
  position: absolute;
  background: $primary-color;
}
/* end all heading */

.navbar {
  opacity: 0.98;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #292F36;

  * {
    color: white;
  }

  li:hover {
    border-bottom: 1px solid $primary-color;
  }
}

body {
  background: hsla(160, 50%, 51%, 1);
  background: linear-gradient(
    180deg,
    hsla(247, 60%, 21%, 1) 0%,
    hsla(160, 50%, 51%, 1) 50%,
    hsla(247, 60%, 21%, 1) 100%
    
  );
  color: #999;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 800;
  overflow-x: hidden;
}

/* start all section */
#about,
#skills,
#projects,
#contact {
  padding-top: 85px;
  padding-bottom: 50px;
}
/* end all section */

/* start home */
#home {
  background-color: #1a1a1a;
  // background-image: url('../images/night-sky-background.jpg');
  // background-size: contain;
  padding-top: 140px;
  padding-bottom: 160px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh;

  #particles {
    /* Your particle styles */
    /* Ensure that this element covers the entire header */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .homeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%; /* Position at the vertical center of the parent */
    left: 50%; /* Position at the horizontal center of the parent */
    transform: translate(-50%, -50%); /* Center the div both horizontally and vertically */
    text-align: center; /* Center the text inside the div */
    max-width: 100%; /* Ensure responsiveness */

    h1 {
      border: 2px solid $primary-color;
      border-radius: 10px;
      color: $primary-color;
      display: inline-block;
      letter-spacing: 6px;
      padding: 25px 35px;
      margin: 30px 0;
      transition: all 0.5s ease;

      &:hover {
        background-color: $primary-color;
        color: #ffffff;
      }
    }

    h2 {
      padding-bottom: 10px;
    }

    .mainBtnsWrapper {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .btn {
        background: transparent;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        width: 180px;
        height: 60px;
        margin-top: 40px;
        padding-top: 18px;
        transition: all 0.4s ease-in-out;

        &:hover {
          background: $primary-color;
          border-color: transparent;
        }
      }
    }

    .contactLinks {
      margin-top: 50px;
      display: flex;
      gap: 20px;

      div {
        height: 40px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid white;

        &:hover {
          transform: scale(1.2);
          background-color: $primary-color;
          border: 2px solid $primary-color;
        }

        img {
          height: 100%;
        }
      }
    }
  }
}
/* end home */

/* start about */
#about {
  color: #ffffff;

  h2 {
    text-align: center;
    margin-bottom: 50px;
    color: $primary-color;
  }

  h3 {
    text-align: center;
    margin-bottom: 30px;
    padding: 0;
    color: white;
  }

  h4 {
    padding: 0;
    margin-bottom: 20px;
  }

  .resumeLinkWrapper {
    text-align: center;
  }
}
/* end about */

/* start skills */
#skills {
  font-weight: bold;

  .skillsTitle {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skillItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    place-items: center;
  }

  h2 {
    color: $primary-color;
    text-align: center;
    margin: 0;
  }

  .skill {
    width: 200px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    gap: 10px;
    color: white;

    img {
      height: 50px;
    }
  }
}
/* end skills */

/* start projects */
#projects {
  text-align: center;
  color: white;

  .project {
    background-color: rgba(63, 71, 80, 0.4);
    backdrop-filter: blur(5px); 
    padding: 20px; 
    border-radius: 10px;

    &:hover  {
      cursor: pointer;
      background-color: rgba(63, 71, 80, 0.9);
    }
    
    h4 {
      padding-bottom: 10px; 
      border-bottom: 3px solid #d43f52;
    }  
  }

  h2 {
    color: $primary-color;
  }

  p {
    text-align: left;
  }

  .projectImg {
    width: 100%;
    height: 100%;
  }

  a {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    > img {
      height: 1.2rem;
    }
  }

  .icon {
    height: 30px;
  }

  .techIcons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .projectLinks {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }
}
/* end projects */

/* start footer */
footer {
  // background-color: #1a1a1a;
  background-image: url('/images/night-sky-background.jpg');
  background-size: contain;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .contactLinks {
    display: flex;
    gap: 20px;
  }

  .contactLinks div {
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;

    &:hover {
      transform: scale(1.2);
      background-color: $primary-color;
      border: 2px solid $primary-color;
    }

    img {
      height: 100%;
    }
  }
}
/* end footer */


.modalSize {
  max-width: 80%; /* Adjust the maximum width as needed */
  width: 100%; /* Allow the modal content to expand to its parent's width */
  // max-height: 80vh; /* Adjust the maximum height as needed */
  // overflow-y: auto; 

  img  {
    width: 100%; /* Ensure images resize to fit the modal content */
    height: auto; /* Maintain aspect ratio */
  }
}


