
html {
    scroll-behavior: smooth;
}

body
{
	background: #000000;
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* start all heading */
h1,h2,h3,h4,h5 {
    color: #ffffff;
    font-weight: bold;
}
/* end all heading */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* start all section */
#about, #skills, #projects, #contact {
    padding-top: 100px;
    padding-bottom: 120px;
}
/* end all section */

/* start home */       
#home {
    background: url('../images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 140px;
    text-align: center;
}

#home h1 {
    border: 2px solid #D43F52;
    color: #D43F52;
    display: inline-block;
    letter-spacing: 6px;
    padding: 25px 35px;
    margin: 30px 0;
}

#home h2 {
    padding-bottom: 10px;
}

#home .btn {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    margin-top: 40px;
    padding-top: 18px;
    transition: all 0.4s ease-in-out;
}

#home .btn:hover
    {
        background: #D43F52;
        border-color: transparent;
    }
/* end home */

/* start about */
#about {
    background: #1a1a1a;
}

#about h4 {
    padding: 15px 0;
    color: #D43F52;
}
/* end about */

/* start skills */
#skills {
    /* background: #000000; */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    font-weight: bold;  
}

/* #skills .skillsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

#skills .skillsTitle {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills .skillItems {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    place-items: center;
}

#skill .skillItem {

}

#skills h2
    {
        text-align: center;
    }

#skills .media {
    width: 200px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    /* margin-top: 30px; */
    gap: 10px;
    color: white;
}
	
#skills .media .fa {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #D43F52;
    font-size: 24px;
    margin-right: 24px;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.4s ease-in;
}

/* start projects */
#projects {
    /* background: #1a1a1a; */
    background-image: radial-gradient( circle 862px at 3.9% 23.8%,  rgba(17,58,93,1) 0%, rgba(18,51,80,1) 90.8% );
    text-align: center;
    color: white;
}

#projects h2 {
    padding-bottom: 30px;
}

#projects .container .row:nth-child(2) {
    margin-top: 50px;
}

#projects a {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#projects a > img {
    height: 1.2rem;
}

#projects p {
    text-align: justify;
    text-justify: inter-word;
}

#projects .row {
    margin: 80px 0;
}

#projects .row > *:first-child {
    margin-bottom: 20px;
}

.projectLinks {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.projectImg {
    width: 100%;
    height: 100%;
}
/* end projects */

/* start contact */

#contact {
    background: #1a1a1a;
    /* text-align: center; */
}

#oontact h2 {
    text-align: center;
}

#contact .contactLinks {
    display: flex;
    gap: 20px;
}


/* end contact */

/* start footer */
footer {
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contactLinks {
    display: flex;
    gap: 20px;
} 
/* end footer */
