* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: hsla(160, 50%, 51%, 1);
    background: linear-gradient(180deg, hsla(160, 50%, 51%, 1) 0%, hsla(247, 60%, 21%, 1) 100%);
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* start all heading */
h1,h2,h3,h4,h5 {
    color: #F2EFEA;
    font-weight: bold;
}
/* end all heading */

.navbar {
    /* background-color: #292F36 !important; */
    opacity: 0.98;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar * {
    color: white;
}

.navbar li:hover {
    border-bottom: 1px solid #D43F52;
}

/* start all section */
#about, #skills, #projects, #contact {
    padding-top: 100px;
    padding-bottom: 70px;
}
/* end all section */

/* start home */       
#home {
    background-color: #1a1a1a;
    padding-top: 140px;
    padding-bottom: 160px;
    text-align: center;
}

#home h1 {
    border: 2px solid #D43F52;
    border-radius: 10px;
    color: #D43F52;
    display: inline-block;
    letter-spacing: 6px;
    padding: 25px 35px;
    margin: 30px 0;
}

#home h2 {
    padding-bottom: 10px;
}

#home .btn {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    margin-top: 40px;
    padding-top: 18px;
    transition: all 0.4s ease-in-out;
}

#home .btn:hover {
    background: #D43F52;
    border-color: transparent;
}
/* end home */

/* start about */
#about {
    color: #FFFFFF;
}

#about h2{
    text-align: center;
    margin-bottom: 50px;
    color: #D43F52;
}

#about h3 {
    text-align: center;
    margin-bottom: 30px;
    padding: 0;
    color: white;
}

#about .resumeLinkWrapper {
    text-align: center;
}
/* end about */

/* start skills */
#skills {
    font-weight: bold; 
}

#skills .skillsTitle {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills .skillItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    place-items: center;
}

#skills h2 {
    color: #D43F52;
    text-align: center;
    margin: 0;
}

#skills .skill {
    width: 200px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    gap: 10px;
    color: white;
}
	
/* start projects */
#projects {
    text-align: center;
    color: white;
}

#projects h2 {
    color: #D43F52;
}

#projects .projectsContainer {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

#projects .project {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#projects .projectsTitle {
    margin-bottom: 50px;
}

#projects .projectImgWrapper, #projects .projectInfo {
    min-width: 310px;
    width: 500px;
}

#projects .projectInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

#projects .projectImg {
    width: 100%;
    height: 100%;
}

#projects a {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#projects a > img {
    height: 1.2rem;
}

#projects h4, #projects p {
    margin: 0;
    padding: 0;
}

#projects .icon {
    height: 30px;
}

#projects .techIcons {
    display: flex; 
    gap: 20px; 
    align-items: center;
    justify-content: center;
}

#projects .projectLinks {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
/* end projects */

/* start footer */
footer {
    background-color: #1a1a1a;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer .contactLinks {
    display: flex;
    gap: 20px;
} 

footer .contactLinks div {
    background-color: white; 
    border-radius: 50%; 
    border: 2px solid white;
}

footer img {
    height: 30px; 
}
/* end footer */
