* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #999;
  font-family: 'Poppins', sans-serif; }

html {
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5 {
  color: #f2efea;
  font-weight: bold; }

h2::after {
  content: '';
  height: 120px;
  width: 7px;
  transform: skew(-18deg) translateX(-50%) translateY(-10%) rotate(90deg);
  left: 50%;
  position: absolute;
  background: #d43f52; }

body {
  font-size: 18px;
  font-weight: 800;
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(180deg, black 10%, #002333 30%, #002333 95%, black 100%); }
  body main {
    position: relative; }
  body .navbar {
    opacity: 0.98;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #292F36; }
    body .navbar * {
      color: white; }
    body .navbar li:hover {
      border-bottom: 1px solid #d43f52; }
  body #about,
  body #skills,
  body #projects,
  body #contact {
    padding-top: 85px;
    padding-bottom: 50px; }
  body #home {
    background-color: #1a1a1a;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding-top: 3rem; }
    body #home #particles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    body #home .homeWrapper {
      text-align: center;
      max-width: 100%;
      margin: 0 2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem; }
      body #home .homeWrapper * {
        z-index: 1; }
      body #home .homeWrapper .bx.bx-chevrons-down {
        color: #d43f52;
        font-size: 2rem; }
      body #home .homeWrapper .scrollArrow {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d43f52;
        transition: all 0.5s;
        border: 1px solid #d43f52;
        border-radius: 100%;
        padding: 1.5rem;
        animation: pulse 3s infinite;
        text-decoration: none; }
      body #home .homeWrapper .scrollArrow:hover {
        opacity: 0.7; }

@keyframes pulse {
  0%, 100% {
    border: none; }
  50% {
    box-shadow: 0 0 0 30px rgba(212, 63, 82, 0.4);
    border-radius: 1px solid #d43f52; } }
      body #home .homeWrapper h1 {
        border: 2px solid #d43f52;
        border-radius: 10px;
        color: #d43f52;
        display: inline-block;
        letter-spacing: 6px;
        padding: 25px 35px;
        transition: all 0.5s ease; }
        body #home .homeWrapper h1:hover {
          background-color: #d43f52;
          color: #ffffff; }
      body #home .homeWrapper h2 {
        padding-bottom: 10px; }
      body #home .homeWrapper .mainBtnsWrapper {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; }
        body #home .homeWrapper .mainBtnsWrapper .btn {
          background: transparent;
          border: 2px solid #d43f52;
          color: #ffffff;
          font-size: 1rem;
          font-weight: bold;
          width: 180px;
          height: 60px;
          padding-top: 18px;
          transition: all 0.4s ease-in-out; }
          body #home .homeWrapper .mainBtnsWrapper .btn:hover {
            background: #d43f52;
            border-color: transparent; }
      body #home .homeWrapper .contactLinks {
        display: flex;
        gap: 20px; }
        body #home .homeWrapper .contactLinks div {
          height: 40px;
          background-color: white;
          border-radius: 50%;
          border: 2px solid white; }
          body #home .homeWrapper .contactLinks div:hover {
            transform: scale(1.2);
            background-color: #d43f52;
            border: 2px solid #d43f52; }
          body #home .homeWrapper .contactLinks div img {
            height: 100%; }
  body #about {
    color: #ffffff; }
    body #about h2 {
      text-align: center;
      margin-bottom: 50px;
      color: #d43f52; }
    body #about h3 {
      text-align: center;
      margin-bottom: 30px;
      padding: 0;
      color: white; }
    body #about h4 {
      padding: 0;
      margin-bottom: 20px; }
    body #about .resumeLinkWrapper {
      text-align: center; }
  body #skills {
    font-weight: bold; }
    body #skills .skillsTitle {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: center; }
    body #skills .skillItems {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      place-items: center; }
    body #skills h2 {
      color: #d43f52;
      text-align: center;
      margin: 0; }
    body #skills .skill {
      width: 200px;
      display: flex;
      align-items: center;
      padding: 15px 0;
      gap: 10px;
      color: white; }
      body #skills .skill img {
        height: 50px; }
  body #projects {
    text-align: center;
    color: white; }
    body #projects .project {
      background-color: rgba(63, 71, 80, 0.4);
      backdrop-filter: blur(5px);
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: 10px 10px 5px 0px #d43f52; }
      body #projects .project:hover {
        cursor: pointer;
        background-color: rgba(63, 71, 80, 0.9); }
      body #projects .project h4 {
        padding-bottom: 10px;
        border-bottom: 3px solid #d43f52; }
    body #projects h2 {
      color: #d43f52; }
    body #projects p {
      text-align: left; }
    body #projects .projectImg {
      width: 100%;
      height: 100%; }
    body #projects a {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      font-weight: bold; }
      body #projects a > img {
        height: 1.2rem; }
    body #projects .icon {
      height: 30px; }
    body #projects .techIcons {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center; }
    body #projects .projectLinks {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: auto; }
  body footer {
    background-color: #000;
    background-size: contain;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; }
    body footer .contactLinks {
      display: flex;
      gap: 20px; }
    body footer .contactLinks div {
      height: 40px;
      background-color: white;
      border-radius: 50%;
      border: 2px solid white; }
      body footer .contactLinks div:hover {
        transform: scale(1.2);
        background-color: #d43f52;
        border: 2px solid #d43f52; }
      body footer .contactLinks div img {
        height: 100%; }

.modalSize {
  max-width: 80%;
  /* Adjust the maximum width as needed */
  width: 100%;
  /* Allow the modal content to expand to its parent's width */ }
  .modalSize img {
    width: 100%;
    /* Ensure images resize to fit the modal content */
    height: auto;
    /* Maintain aspect ratio */ }
  .modalSize .modal-content {
    background-color: #002333;
    padding: 2rem;
    border-radius: 8px; }
    .modalSize .modal-content .btn > img {
      max-height: 20px;
      width: auto;
      padding-right: 5px; }
    .modalSize .modal-content .modal-header {
      border-bottom: 1px solid #d43f52; }
    .modalSize .modal-content .modal-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #d43f52; }
